*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;

}
.container {
    width: 850px;
    margin: auto;
}
a {
    text-decoration: none;
}
body {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}
.link_fixed {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    a {
        display: block;
        cursor: pointer;
    }
    .first_icon {
        width: 23px;
        padding: 1.5px 4px 0 4px;
        background-color: white;
        box-shadow: 1px 1px 4px black;
        img {
            width: 100%;
        }
    }
    .first_icon:first-child {
        margin: 5px 0;
        background-color: $bg_fix;
    }
}