/* Site header */
#site_header {
    font-size: 11px;
    letter-spacing: 1.5px;
    
    .first_header {
        background-color: #1B1B1B;

        //nav
        .container {
            nav {
                @include display_flex_jc_sb;
                padding: 1rem 0;
                .nav_left {
                    .btn {
                        color: $color_text_nav;
                        border: none;
                        background-color: $btn_color;
                        font-size: 11px;
                        letter-spacing: 1.5px;
                        padding: 0.5rem 1rem;
                    }
                    button:hover {
                        cursor: pointer;
                        box-shadow: inset 0 0 0 5px #AB4027;
                    }
                }
                .nav_center{
                    @include display_flex_jc_sb;
                    a {
                        color: $color_text_nav;
                        
                        padding: 0 0.5rem;
                        img {
                            filter: invert(100%);
                            width: 15px;
                        }
                    }
                    img {
                        width: 100px;
                    }
                }
                .nav_right {
                    a{
                        color: $color_text_nav;
                        
                    }
                    a:first-child {
                        padding-right: 7px;
                        img {
                            width: 18px;
                            filter: invert(100%);
                        }
                    }
                }
            }
            
        }

        //section header
        .section_header {
            @include display_flex_jc_sb;
            padding: 3rem 0;
            height: 50vh;

            
            .prev {
                cursor: pointer;
                color: $color_text_slides;
                font-size: 14px;
                position: relative;
                
                .circle {
                    padding: 2rem;
                    position: absolute;
                    top: 0;
                    left: -30px;
                    background-color: $bg_text_slides;
                    border-radius: 80%;
                    .text_circle {
                        position: absolute;
                        right: 5px;
                        top: 22px;
                        transform: rotate(90deg);

                    }
                }

                
            }
            .slides_tastes{
                position: relative;
                .name {
                    width: 580px;
                    filter: invert(10%);
                    position: relative;
                }
                .pizza {
                    width: 200px;
                    @include absolute_center;
                }
            }
            .next {
                cursor: pointer;
                background-color: $bg_text_slides;
                color: $color_text_slides;
                font-size: 14px;
                position: relative;
                .circle {
                    padding: 2rem;
                    position: absolute;
                    top: 0;
                    right: -30px;
                    background-color: $bg_text_slides;
                    border-radius: 80%;
                    .text_circle {
                        transform: rotate(270deg);
                        position: absolute;
                        left: 5px;
                        top: 22px;

                    }
                }
            }
        }
    }
    .second_header {
        .info_photos {
            @include display_flex_jc_sb;
            padding: 6px  0;
            .singular_photo {
                position: relative;
                width: calc(100% / 4.05);

                img {
                    width: 100%;
                }

                .box_photo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    opacity: 0;
                    transition: .5s ease;
                    .square_photo {
                        background-color: $color_text_slides;
                        width: 20%;
                        height: 30%;
                        border-radius: 50%;
                        @include absolute_center;

                        i {
                            color: white;
                            @include absolute_center;

                            font-size: large;
                        }
                    }
                }
            }
            .singular_photo:hover .box_photo {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}