/* Site main */
#site_main {
    .testimonials {
        position: relative;
        img {
            width: 100%;
        }
        .prev {
            position: absolute;
            top: 50%;
            left: 0;
            font-size: 14px;
            transform: rotate(90deg);
        }
        .testimonials_text {
            width: 600px;
            text-align: center;
            margin: auto;
            @include absolute_center;
            
            h6 {
                color: $color_text_slides;
            }
            .points {
                display: flex;
                justify-content: center;
                padding: 0.4rem 0;
                .point {
                    width: 9px;
                    height: 9px;
                    margin: 0 0.2rem;
                    background-color: $bg_lighgray;
                    border-radius: 50%;
                }
            }
        }
        .next {
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 14px;
            transform: rotate(270deg);
        }
    }
    .specials {
        display: flex;
        .bg_image {
            width: 50%;
            position: relative;
            img {
                width: 100%;
            }
            .text_image {
                @include absolute_center;
                width: 45%;
            }
        }
        .text_specials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 35%;
            color: $text_gray;
            line-height: 30px;
            padding-left: 8rem;
            p {
                font-size: 15px;
            }
            .prices_specials {
                display: flex;
                padding: 1rem 0;
                .price {
                    padding-right: 0.5rem;
                    color: $color_text_slides;
                }
            }
            
        }

    }
}