@mixin display_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
$btn_color: #D2401E;
$color_text_nav : #FFFFFF;
$color_text_slides: #C83B1A;
$bg_text_slides: #F7F7F2;